# Kafka
HOST_EXTERNAL=host.docker.internal
KAFKA_KRAFT_CLUSTER_ID=your-kafka-cluster-id
KAFKA_REPLICATION_FACTOR=3

# Conduktor PostgreSQL
CDK_POSTGRES_USER=your_cdk_user
CDK_POSTGRES_PASSWORD=your_cdk_password
CDK_POSTGRES_DB=conduktor-platform

# PostgreSQL (for local development)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password

# CoinGecko
COINGECKO_API_KEY=your_coingecko_api_key
SCHEMA_REGISTRY_URL_INTERNAL=http://schema-registry-local:8081
